/* General Page Rules */

@import url('https://fonts.googleapis.com/css2?family=Mina&family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    background: radial-gradient(#63bbff, #0077d2);
}

/* Page Title */

#page-title {
    color: whitesmoke;
    font-family: 'Rubik', serif;
    font-weight: normal;
    font-size: 5em;
    text-align: center;
    margin-top: 12px;
    margin-bottom: -10px;
}

/* Game Container */

.gme-info {
    color: whitesmoke;
    font-family: 'Mina', serif;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: -5px;
}

.gme-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
}

.gme-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin: 10px;
    justify-content: center;
}

.card {
    background-color: black;
    height: 150px;
    width: 125px;
}

/* Footer */

footer {
    text-align: center;
}

.git {
    color: black;
}

/* Media Query */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}