/* General Page Rules */

@import url('https://fonts.googleapis.com/css2?family=Mina&family=Rubik&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Mina', 'Rubik', sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    background: radial-gradient(#63bbff, #0077d2);
}

/* Page Title */

#page-title {
    color: whitesmoke;
    font-family: 'Rubik', serif;
    font-weight: normal;
    font-size: 5em;
    text-align: center;
    margin-top: 12px;
}

/* Game Container */

.gme-info {
    color: whitesmoke;
    font-family: 'Mina', serif;
    font-size: 3em;
    font-weight: normal;
}

.gme-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.card {
    background-color: black;
    height: 175px;
    width: 125px;
}

/* Footer */

footer {
    text-align: center;
}

.git {
    color: black;
}

/* Media Query */

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}